<!DOCTYPE html>
<html lang="en">

<head>
    <title>Brain Stain</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="css/styles.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,700" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="js/testing.js"></script>
</head>

<body>
    <h1>Brain Stain Testing and stuff</h1>

    <div class="colorbox">
        <p>Is this readable?</p>
    </div>

    <form name="response" id="responseform">
        <input type="hidden" name="generation" id="generation">
        <input type="hidden" name="index" id="index">
        <div>
            <p>Is it legible?</p>
            <input type="radio" id="legiblenegative" name="legible" value="-1">
            <label for="legiblenegative">Not really</label><br>
            <input type="radio" id="legibleneutral" name="legible" value="0">
            <label for="legibleneutral">Neutral</label><br>
            <input type="radio" id="legiblepositive" name="legible" value="1">
            <label for="legiblepositive">Yes</label><br>
        </div>

        <div>
            <p>Is it aesthetically pleasing?</p>
            <input type="radio" id="aestheticnegative" name="aesthetic" value="-1">
            <label for="aestheticnegative">Not really</label><br>
            <input type="radio" id="aestheticneutral" name="aesthetic" value="0">
            <label for="aestheticneutral">Neutral</label><br>
            <input type="radio" id="aestheticpositive" name="aesthetic" value="1">
            <label for="aestheticpositive">Yes</label><br>
        </div>

        <input type="submit">
    </form>
</body>

</html>