body {
    color: #020A1B;
    background: #ffffff;
    font-family: 'Merriweather', sans-serif;
}

h1,
h2 {
    font-weight: bold;
}

p {
    font-size: 16px;
    color: #ffffff;
}

.colorbox {
    width: 50%;
    background-color: black;
    color: white;
    min-height: 250px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.colorbox p {
    font-size: 4em;
}

form {
    display: flex;
    justify-content: center;
}

form div {
    margin: 10px;
}

form div p {
    color: black;
}