# devMode: true
logLevel:
  # - 'development'
  # - 'log'
  # - 'warn'
  # - 'error'
  # - 'all'
logLocations:
  # - 'console'
  # - 'disk'
  # - 'all'
developmentSettings:
  spoofIPs:
    # - '8.8.8.8'