# devMode: true
logLevel:
  # - 'development'
  # - 'log'
  # - 'warn'
  # - 'error'
  # - 'all'
logLocations:
  # - 'console'
  # - 'disk'
  # - 'all'
splitLogsByLevel:
  # - 'development'
  # - 'log'
  # - 'warn'
  - 'error'
  # - 'all'
timeFormat: 'HH:mm:ss'
dateFormat: 'MM-DD-YYYY'
developmentSettings:
  spoofIPs:
    # - '8.8.8.8'